<div class="main">
    <mat-stepper>
        <mat-step label="Step 1" state="phone">
            <div class="container-fulid">
                <div class="row">
                    <div class="col-md-5 px-0">
                        <div class="overflow-auto" style="max-height: 707px">
                            <h2 class="text-primary-emphasis">Your Order</h2>
                            <div class="loop d-flex border p-2 my-2" *ngFor="let item of buyNowData">
                                <div class="col-6">
                                    <img [src]="item.images[0]" alt="item.title" />
                                </div>
                                <div class="col-md-6">
                                    <h5>{{ item.title }}</h5>
                                    <p>Price: {{ item.price | currency }}</p>
                                    <p>
                                        Delivery:
                                        <span class="text-success">
                                            {{ item.shippingInformation }}</span>
                                    </p>
                                    <p class="d-flex align-items-center mb-0">
                                        Quantity:
                                        <input type="number" placeholder="1"
                                            style="max-width: 34px; border: none; padding: 0%" />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7 d-flex flex-column gap-5">
                        <div class="container-fulid">
                            <div class="row">
                                <div class="order">
                                    <h3 class="text-primary-emphasis">Payment</h3>
                                </div>
                                <div class="input_area d-flex flex-column gap-3">
                                    <div class="total">
                                        <h6>Total</h6>
                                        <span>{{ total | currency }}</span>
                                    </div>
                                    <div class="total">
                                        <h6>Delivery Charges</h6>
                                        <span class="text-primary">+ $2</span>
                                    </div>
                                    <div class="total">
                                        <h5>Total (tax excl.)</h5>
                                        <span class="text-success fw-bold">{{
                                            tax | currency
                                            }}</span>
                                    </div>
                                </div>
                                <div class="address"></div>
                            </div>
                        </div>
                        <div class="close_dialog">
                            <button matStepperNext>Continue</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div>
                  <button mat-button matStepperNext>Next</button>
              </div> -->
        </mat-step>
        <mat-step label="Step 2" state="chat">
            <div class="main_personal d-flex flex-column gap-3">
                <div class="d-flex justify-content-center">
                    <div class="loop_personal" *ngFor="let item of buyNowData">
                        <img [src]="item.images[0]" alt="item.title" class="" />
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <p>Personal Details</p>
                        <div class="col-md-12 d-flex flex-column gap-2 align-items-center">
                            <div class="name col-10 d-flex justify-content-between">
                                <input type="text" placeholder="First Name" class="col-md-5" />
                                <input type="text" placeholder="Last Name" class="col-md-5" />
                            </div>
                            <input type="email" placeholder="Email" class="col-md-10" />
                            <input type="number" placeholder="Phone" class="col-md-10" />
                            <div>
                                <p>Address</p>
                            </div>
                            <input type="text" placeholder="City" class="col-md-10" />
                            <div class="name col-10 d-flex justify-content-between">
                                <input type="text" placeholder="State" class="col-md-5" />
                                <input type="text" placeholder="Zip" class="col-md-5" />
                            </div>
                            <input type="text" placeholder="Country" class="col-md-10" />
                        </div>
                    </div>
                </div>

                <div class="card_option d-flex justify-content-center">
                    <mat-form-field appearance="fill" style="width: 80%;">
                        <mat-label>Select an option</mat-label>
                        <mat-select [(value)]="selected">
                            <mat-option>None</mat-option>
                            <mat-option value="option1">Cash On Delivery</mat-option>
                            <mat-option value="option2">Debit Card</mat-option>
                            <mat-option value="option3">Credit Card</mat-option>
                            <mat-option value="option3">Online Payment</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="close_dialog">
                    <button matStepperNext >Continue</button>
                </div>
            </div>
            
        </mat-step>
        <mat-step label="Step 3">
            <p>You're welcome.</p>
        </mat-step>
    </mat-stepper>
</div>