<div class="main">
    <div class="sidebar">
        <div class="sidebarCopy" *ngIf="isSidebarOpen">
            <div class="homeArea">
                <div class="opt">
                    <mat-icon>home</mat-icon>
                    <p>Home</p>
                </div>
                <div class="opt">
                    <mat-icon>video</mat-icon>
                    <p>Shorts</p>
                </div>
                <div class="opt">
                    <mat-icon>video</mat-icon>
                    <p>Subscriptions</p>
                </div>
            </div>
            <hr />
            <div class="homeArea">
                <div class="you1">
                    <h3 class="text">You</h3>
                    <div class="opt">
                        <mat-icon>history</mat-icon>
                        <p>History</p>
                    </div>
                    <div class="opt">
                        <mat-icon></mat-icon>
                        <p>Playlists</p>
                    </div>
                    <div class="opt">
                        <mat-icon>watch later</mat-icon>
                        <p>Watch later</p>
                    </div>
                    <div class="opt">
                        <mat-icon>like</mat-icon>
                        <p>Liked videos</p>
                    </div>
                </div>

                <hr />
                <div class="homeArea">
                    <div class="opt">
                        <mat-icon>list</mat-icon>
                        <div>ALL Subscriptions</div>
                    </div>
                </div>
                <hr />
                <div class="homeArea">
                    <h2 class="text">Explore</h2>
                    <div class="opt">
                        <mat-icon>trending</mat-icon>
                        <p>Trending</p>
                    </div>
                    <div class="opt">
                        <mat-icon>shop</mat-icon>
                        <p>Shopping</p>
                    </div>
                    <div class="opt">
                        <mat-icon>music</mat-icon>
                        <p>Music</p>
                    </div>
                    <div class="opt">
                        <mat-icon>movie</mat-icon>
                        <p>Movie</p>
                    </div>
                    <div class="opt">
                        <mat-icon>live</mat-icon>
                        <p>Live</p>
                    </div>
                    <div class="opt">
                        <mat-icon>gaming</mat-icon>
                        <p>Gaming</p>
                    </div>
                    <div class="opt">
                        <mat-icon>news</mat-icon>
                        <p>News</p>
                    </div>
                    <div class="opt">
                        <mat-icon>sport</mat-icon>
                        <p>Sports</p>
                    </div>
                    <div class="opt">
                        <mat-icon>courses</mat-icon>
                        <p>Courses</p>
                    </div>
                    <div class="opt">
                        <mat-icon></mat-icon>
                        <p>Procasts</p>
                    </div>
                </div>
                <hr />
                <div class="homeArea">
                    <div class="opt">
                        <mat-icon></mat-icon>
                        <p>Youtube Premium</p>
                    </div>
                    <div class="opt">
                        <mat-icon>music</mat-icon>
                        <p>Youtube Music</p>
                    </div>
                    <div class="opt">
                        <mat-icon>kids</mat-icon>
                        <p>Youtube Kids</p>
                    </div>
                </div>
                <hr />
            </div>
            <div class="homeArea">
                <div class="opt">
                    <mat-icon>settings</mat-icon>
                    <p>Settings</p>
                </div>
                <div class="opt">
                    <mat-icon>report</mat-icon>
                    <p>Report history</p>
                </div>
                <div class="opt">
                    <mat-icon>help</mat-icon>
                    <p>Help</p>
                </div>
                <div class="opt">
                    <mat-icon>send</mat-icon>
                    <p>Send Feedback</p>
                </div>
            </div>
            <hr />
            <div class="homeArea">
                <div>
                    <div>about press copyright</div>
                    <div>contact us creators</div>
                    <div>Advertise Developers</div>
                </div>
                <div>
                    <div>Termsprivacypolicy & SafetyHow</div>
                    <div>YouTube worksTest</div>
                    <div>new features</div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="navsearch">
            <div class="zero">
                <mat-icon class="icons" (click)="toggleSidebar()">home</mat-icon>
            </div>
            <div class="youtubeLogo">

                <div class="logoimage">
                    <img src="../../assets/image/logo.youtube/social-06-512.webp" alt=""
                        style="width: 2.5rem; height: 2.5rem;">
                    <div>YouTube</div>
                </div>
            </div>

            <div class="search">
                <input type="text" placeholder="search" />
                <mat-icon class="mat-18">search</mat-icon>
            </div>
            <div class="mic">
                <mat-icon>mic</mat-icon>
            </div>
            <div class="create">
                <div class="create">
                    <mat-icon>add</mat-icon>
                    <h2>Create</h2>
                </div>
                <div>
                    <mat-icon> bell</mat-icon>
                </div>
                <div>
                    <h2>Sing Up</h2>
                </div>
            </div>
        </div>

    </div>
    <div class="homeArea1">
        <div class="all">
            <div class="alltype">
                <h2>All</h2>
                <h2>News</h2>
                <h2>JavaScript</h2>
                <h2>Computer files</h2>
                <h2>Power tools</h2>
                <h2>All</h2>
                <h2>News</h2>
                <h2>JavaScript</h2>
                <h2>Computer files</h2>
                <h2>Power tools</h2>
                <h2>All</h2>
                <h2>News</h2>
                <h2>JavaScript</h2>
                <h2>Computer files</h2>
                <h2>Power tools</h2>
                <h2>All</h2>
                <h2>News</h2>
                <h2>JavaScript</h2>
                <h2>Computer files</h2>
                <h2>Power tools</h2>
            </div>
        </div>

        <div class="top">
            <div class="videoArea">
                <div class="mainVideo" *ngFor="let image of images ; let i= index">
                    <div class="bigimage">
                        <div class="imagechange">
                            <img [src]="image.image" alt="" style=" border-radius: 10px;">

                            <h3>{{image.image1 | slice: 0: 36}}...</h3>
                            <div class="post">
                                <h5>{{image.image2}}</h5>
                                <h5>{{image.image3}}</h5>
                                <h5>{{image.image4}}</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="videoArea">
                <div class="mainVideo" *ngFor="let image of images1 ; let i= index">
                    <div class="bigimage">
                        <div class="imagechange">
                            <img [src]="image.image" alt=""
                                style="max-width: 164px; border-radius: 10px; height: 100%;">

                            <h3>{{image.image1 | slice: 0: 36}}...</h3>
                            <div class="post">

                                <h5>{{image.image3}}</h5>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="videoArea">
                <div class="mainVideo" *ngFor="let image of image2 ; let i= index">
                    <div class="bigimage">
                        <div class="imagechange">
                            <img [src]="image.image" alt="" style="border-radius: 10px;">

                            <h3>{{image.image1 | slice: 0: 36}}...</h3>
                            <div class="post">
                                <h5>{{image.image2}}</h5>
                                <h5>{{image.image3}}</h5>
                                <h5>{{image.image4}}</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>