<div class="main1" *ngIf="alldata">
  <div class="container-fulid position-fixed z-1 w-100" *ngFor="let item of alldata['products']; let i = index">
    <div class="logo">
      <div class="row z-2 justify-content-around navbar">
        <div class="col-md-3 col-2">
          <img src="../../assets/api_logo/icons8-logo-75.png" alt="" class="img-fluid p-2" loading="lazy" />
        </div>
        <div class="col-md-6 align-items-center option">
          <div class="homebutton fs-6 mx-2">Home</div>
          <div class="homebutton fs-6 mx-2">Best Offer</div>
          <div class="homebutton fs-6 mx-2">Your Order</div>
          <div class="homebutton fs-6 mx-2">Your Order</div>
          <div class="homebutton fs-6 mx-2">Your Order</div>
        </div>
        <div class="col-3 homeicon">
          <mat-icon class="mat-18">home</mat-icon>
        </div>
        <div class="shopping col-1">
          <mat-icon [matBadge]="cartCount" (click)="openCart()">shopping_cart</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div #main class="container position-relative  padding">
    <div class="first animated">
      <div class="row">
        <div class="col-md-4 py-3" *ngFor="let item of alldata['products']; let i = index">
          <div class="card p-3 border  align-items-center rounded-5" *ngIf="!id">
            <div class="image">
              <div id="carousel{{ i }}" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item" *ngFor="let img of item.images; let first = first"
                    [ngClass]="{ active: first }">
                    <img [src]="img" class="d-block w-100" style="max-height: 280px" loading="lazy" />
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="row align-items-center">
                <div class="col-md-12">
                  <h2>{{ item.title }}</h2>
                </div>
              </div>
              <h3>Brand: {{ item.brand }}</h3>
              <h3>Price: {{ item.price }} $</h3>
              <h3>Tags: {{ item.tags }}</h3>
              <h3> stock:{{item.stock}}</h3>
              <h3>{{ item.description }}..</h3>
            </div>

            <div class="forbutton d-flex justify-content-between col-12">
              <div class="col-md-4 pt-2">
                <button class="button1 py-1 px-3" (click)="viewmore(item)">
                  View More
                </button>
              </div>
              <div class="col-md-4 pt-2">
                <button class="button1 py-1 px-3" (click)="cart(item)">
                  Add to Cart
                </button>
              </div>
              <div class="col-md-4 pt-2">
                <button class="button2 py-1 px-3"(click)="buynow1(item)">
                  Buy Now11
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

