@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo {
    max-height: 600px;
    width: 100%;
    height: fit-content;
    position: fixed;
    position: relative;

    .option {
        font-family: var(--f-font-sans, '__figmaSans_a26a19', '__figmaSans_Fallback_a26a19', SF Pro Display, system-ui, helvetica, sans-serif);
        font-optical-sizing: auto;
        color: #58b4e4;

        @media screen and (max-width: 800px) {
            display: none !important;
        }
    }

    .homeicon {
        @media screen and (min-width: 800px) {
            display: none !important;
        }
    }

    .navbar {
        background: rgb(184, 217, 235);

        div {
            display: flex;

        }
    }

    .homebutton {
        padding: 10px;
        background: rgb(184, 217, 235, 0.5);
        border-radius: 10px;

        &:hover {
            background: rgb(184, 217, 235);
            color: #000;
        }
    }
}

h2,
h3 {
    margin-bottom: 0%;
}

.main1 {
    background: rgb(184, 217, 235, 0.5);
    // height: 100vh;
}

.first {

    &.animated {
        animation: fadeInUp 1.5s ease-out;
    }

    .card {
        position: relative;

        transition: box-shadow 0.5s ease-in-out;


        &:hover {
            box-shadow: #000000 0px 0px 20px 0px;
        }
    }

    img {

        transition: transform 1s ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }
}

.image {
    display: flex;
    overflow: auto;
}

h3 {
    color: var(--yt-spec-text-primary);
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 12px;
    line-height: 1.2rem;
    overflow: hidden;
    max-height: 4.4rem;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    padding-top: 10px;
    -webkit-box-orient: vertical;
}

h2 {
    font-size: large;
    padding-top: 10px;
    line-height: 1.2rem;
    overflow: hidden;
    max-height: 4.4rem;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    display: -webkit-box;
    padding-top: 10px;
    -webkit-box-orient: vertical;
}

.button1 {
    background: rgb(184, 217, 235, 0.5);
    border-radius: 10px;
    font-size: small;
    color: #58b4e4;

    white-space: nowrap;

    &:hover {
        background: rgba(127, 197, 238, 0.5);
        color: #49a9dd;
    }
}

.button2 {
    background: rgba(77, 94, 104, 0.5);
    border-radius: 10px;
    font-size: small;
    color: #2d576e;

    &:hover {
        background: rgba(63, 96, 116, 0.5);
        color: #000000;
    }
}

.viewmore {
    text-align: center;

    h3 {
        font-size: large;
    }

    h5 {
        font-size: small;
    }
}
///////////////////////////////////////////////////////////////view more///////////////////////////////////////////////
h5 {
    margin-bottom: 0%;
}

.main_dialog {
    position: relative;

    .alloption {
        display: flex;
        flex-direction: column;
        gap: 9px;
        width: 100%;

        div {
            display: flex;
            justify-content: space-between;
        }
    }

    p {
        overflow: hidden;
        max-height: 4.4rem;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
}

.close_dialog {
    position: absolute;
    right: 0;
    top: 0;
}

.shopnow {
    padding: 1px 14px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    width: fit-content;
}

.padding {
    padding-top: 7rem;
}

////////////////////////////////////////////////////////shop page//////////////////////////////////////////////

.main_shop {
    position: relative;
    height: 100%;
    .cart-item{
        background: rgb(184, 217, 235, 0.4);
        margin: 10px;
    }
}
.your_cart{
    text-align: center;
    font-size: large;
    color: #49a9dd;
    height: 5%;
    border-radius: 10px;
    padding: 10px;
    background: rgb(184, 217, 235);
    width: 100%;
}
.button_shop {
    height: 5%;
    border-radius: 10px;
    padding: 10px;
    background: rgb(184, 217, 235);
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: sticky;
    bottom: 0px;
    align-items: center;

    button {
        background: rgb(184, 217, 235);
        border-radius: 10px;
        font-size: small;
        color: #58b4e4;
        height: fit-content;
        white-space: nowrap;
        padding: 5px 20px;
        border: 2px solid #58b4e4;

        &:hover {
            background: rgba(127, 197, 238, 0.5);
            color: #49a9dd;
        }
    }
}